body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.container {
	align-self: center;
	display: flex;
	height: 90vh;
	width: 90vh;
	border: 2px solid black;
}
.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.cell {
	flex: 1;
	border: 0.5px solid gray;
}
.menu {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.colors {
	display: flex;
	gap: 2px;
}

#color-theme-preview {
	display: flex;
	width: 270px;
	height: 50px;
}
.color {
	flex: 1;
}
