body {
	height: 100vh;
}
.container {
	display: flex;
	height: 90vh;
	width: 90vh;
	margin: auto;
	border: 2px solid black;
}
.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.cell {
	flex: 1;
	border: 1px solid gray;
}
